# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
lib/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/
*.html
*.log
*.json

pypackages__/
.venv
.idea
env/

videos/
reports/